.movie-card {
  text-decoration: none;
}

.movie-card_card {
  color: rgb(44, 44, 44);
  width: 20rem;
  margin: 25px;
  border-radius: 25px;
  box-shadow: 3px 2px 15px rgb(0, 0, 0, 0.5);
  max-height: fit-content;
}

.movie-card_card:hover {
  transform: scale(1.01);
  transition: transform 0.2s;
  width: 20rem;
  margin: 25px;
  border-radius: 25px;
  box-shadow: 3px 2px 15px rgb(0, 0, 0, 0.7);
}

.card-img {
  border-radius: 25px;
  max-height: 450px;
}

.card-button {
  border-radius: 10px;
  background-color: rgb(0, 0, 0, 0);
  color: black;
  border: 1px black solid;
}
