.UpdateContainer {
  background-color: white;
  width: 30rem;
  height: fit-content;
  justify-content: center;
  margin: 15px;
  border-radius: 25px;
  box-shadow: 3px 2px 30px rgb(0, 0, 0, 0.5);
  padding: 25px;
}

h1 {
  text-align: center;
}

.note {
  font-size: smaller;
  color: rgb(0, 0, 0, 0.3);
}

.update-button {
  border-radius: 10px;
  background-color: rgb(0, 0, 0, 0);
  color: black;
  border: 1px black solid;
}

.input {
  border-radius: 10px;
}
