.movie-view_card {
  width: 27rem;
  justify-content: center;
  margin: 15px;
  border-radius: 25px;
  box-shadow: 3px 2px 30px rgb(0, 0, 0, 0.5);
}

.movie-view_image {
  border-radius: 25px;
}

.back-button {
  position: fixed;
  left: 20px;
  top: 40px;
  border-radius: 10px;
  background-color: rgb(0, 0, 0, 0);
  color: black;
  border: 1px black solid;
}

.movie-view_button {
  border-radius: 10px;
  background-color: rgb(0, 0, 0, 0);
  color: black;
  border: 1px black solid;
}

.disliked_button {
  border-radius: 10px;
  background-color: rgb(0, 0, 0, 0);
  color: black;
  border: 1px black solid;
}

.liked_button {
  border-radius: 10px;
  background-color: rgba(240, 47, 137, 0.94);
  color: black;
  border: 1px black solid;
}

.movie-view_buttons {
  display: flex;
  justify-content: space-around;
}
